<% layout('layout') -%>
<div class="mdl-grid">
	<% for(u in users) { %>
		<div class="mdl-cell mdl-cell--2-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp">
			<a href="/user/<%= users[u].username %>/"><img src="<%= getGravatar(users[u].email) %>" style="width: 100%;"></a>
			<b class="center"><%= users[u].username %></b>
			<i class="center">Posts: <%= users[u].numPosts %> Songs: <%= users[u].numSongs %></i>
		</div>
	<% } %>
</div>
