<div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--2-col center">
			<img src="/song/<%= song.id %>/cover" style="width: 100%;">
		</div>
		<div class="mdl-cell mdl-cell--10-col vertical-flex-parent">
			<div class="mdl-tooltip mdl-tooltip--large" for="btnPlaySong<%= song.id %>">Play</div>
			<div class="mdl-tooltip mdl-tooltip--large" for="btnQueueSong<%= song.id %>">Add to queue</div>
			<span>
				<button id="btnPlaySong<%= song.id %>" class="mdl-button mdl-js-button mdl-button--icon" onclick="playSong('/song/<%= song.id %>/song', '<%= song.title.replace("\'", "\\'") %>', '/song/<%= song.id %>/cover');">
					<i class="material-icons">play_arrow</i>
				</button>
				<button id="btnQueueSong<%= song.id %>" class="mdl-button mdl-js-button mdl-button--icon" onclick="addSong('/song/<%= song.id %>/song', '<%= song.title.replace("\'", "\\'") %>', '/song/<%= song.id %>/cover');">
					<i class="material-icons">playlist_add</i>
				</button>
				<b><%= song.title %></b> - <i><%= song.genre %> - <%= song.plays %> plays</i>
			</span>
			<span><%= song.description %></span>
			<div class="mdl-card--expand"></div>
			<div>
				<div class="mdl-tooltip mdl-tooltip--large" for="btnLikeSong<%= song.id %>">Like</div>
				<button id="btnLikeSong<%= song.id %>" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">favorite</i>
				</button>
				<span>100</span>

				<div class="mdl-tooltip mdl-tooltip--large" for="btnRepostSong<%= song.id %>" onclick="repostSong(<%= song.id %>);">Repost</div>
				<button id="btnRepostSong<%= song.id %>" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">repeat</i>
				</button>
				<span>100</span>
			</div>
		</div>
	</div>
</div>
